<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ brand['name'] }} — {% block title %}{% endblock %}</title>
    {% block page_styles %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common/global_style.css') }}">
    {% include 'components/_favicon.html' %}
    {% block head_extra %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
